
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489060484141'); /* IE9*/
  src: url('iconfont.eot?t=1489060484141#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489060484141') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489060484141') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489060484141#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jibingzicha:before { content: "\e62b"; }

.icon-jianggutang:before { content: "\e65e"; }

.icon-youhuiquan:before { content: "\e625"; }

.icon-yangsheng:before { content: "\e612"; }

.icon-xiaoerwaiyong:before { content: "\e626"; }

.icon-iconfontwode:before { content: "\e65d"; }

.icon-fuke:before { content: "\e676"; }

.icon-iconset0318:before { content: "\e6d9"; }

.icon-navjianfei:before { content: "\e6d0"; }

.icon-navzhuangyang:before { content: "\e6d3"; }

.icon-ertong:before { content: "\e679"; }

.icon-ri:before { content: "\e60a"; }

.icon-bingzhong:before { content: "\e650"; }

.icon-shouyeshouye:before { content: "\e629"; }

.icon-16zhiyaojixie:before { content: "\e628"; }

.icon-xiaohuaneike:before { content: "\e67b"; }

.icon-chengren:before { content: "\e61d"; }

.icon-baojian:before { content: "\e70e"; }

.icon-pifu:before { content: "\e66e"; }

.icon-fujin:before { content: "\e600"; }

.icon-xinzang:before { content: "\e693"; }

.icon-miniaoshengzhi:before { content: "\e6b7"; }

